<h1>{{title}}</h1>
 {{!-- <p> {{title}}</p>  --}}
 
<p>i am {{name}}</p>
<p>Roll no {{rollno}}</p>
<p>Currently purusing {{qua}} in ANJAC college</p>
<p>Completed UG in {{ug}} in same college</p>
<p class="head"><b>Education</b></p>
  <ul>
    <li>MCA</li>
    <li>B.sc(c.s)</li>
    <li>HSC</li>
    <li>SSLC</li>
    </ul>
<p class="head"><b>Interests</b></p>
  <ul>
    <li>Learn new Techonolgs</li>
    <li>Team Work</li>
    <li>Design</li>
    <li>Programming</li>
    </ul>
      <p class="head"><b>Skills</b></p>
  <ul>
    <li>Basic Programming Knowledge</li>
<p class="head"><b>Project</b></p>
  <ul>
    <li>Digilized voting System</li>
    <li>Employeee Management in CRUD operation(JDBC)</li>
    <li>Grocery Application in Flutter</li>
    </ul>
  </ul>
  